@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MBF";
  src: url("../../public/fonts/mbf.ttf");
}


@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

body {
  background-color: black;
}

.img-hover-arrow {
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: none;
}
.home-card:hover{
  scale:1.01
}
.home-card:hover .img-hover-arrow {
  display: block;
}
 
.arrow-hover {
  transform: translate(-50%, -50%);
 
}
 
.home-cards-container:hover .home-card:not(:hover) {
  opacity: 0.9;
  transition-duration: 0.5s;
}
 
 