.hex {
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  /* background-image: url("https://res.cloudinary.com/due4u0qxv/image/upload/v1669618180/asthra7.0/main-cordt/Rosna_Joy_dtvzhc.jpg"); */
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  /* border: 2px solid; */
}

.hex-wrapper {
  background: linear-gradient(#ccff00 50%, #27272a 50%) no-repeat;
  border: none;
}
